# SPDX-FileCopyrightText: 2025 Dom Rodriguez <shymega@shymega.org.uk>
#
# SPDX-License-Identifier: GPL-3.0-only

nix.secrets/** filter=git-crypt diff=git-crypt
nix/systems/x86_64/ct-*/** filter=git-crypt diff=git-crypt
