name: "Build and push to private Nix cache"
on:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * 6"
jobs:
  nix-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.NIX_GH_ACTIONS_TOKEN }}
          ref: "main"
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.NIX_GH_ACTIONS_TOKEN }}
      - id: set-matrix
        name: Generate Nix Matrix
        run: |
          set -Eeu
          matrix="$(nix eval --json '.#githubActions.matrix')"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"
  build-and-push-attic:
    name: "Build and push to cache for system: ${{ matrix.hostName }}@(${{ matrix.platform }})"
    needs: nix-matrix
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix: ${{fromJSON(needs.nix-matrix.outputs.matrix)}}
    steps:
      - uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
      - uses: actions/checkout@v6
      - run: "sudo mkdir -p /etc/nix\necho \"machine shynet-nix-attic.shymega.org.uk password ${{ secrets.GH_ATTIC_TOKEN }}\" | sudo tee /etc/nix/netrc > /dev/null\ngit config --global url.\"https://${{ secrets.NIX_GH_ACTIONS_TOKEN }}@github.com\".insteadOf https://github.com          \n"
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.NIX_GH_ACTIONS_TOKEN }}
          extra-conf: |
            fallback = true
            http-connections = 128
            max-substitution-jobs = 128
            extra-platforms = aarch64-linux
            substituters = https://shynet-nix-attic.shymega.org.uk/system?priority=43 https://nix-community.cachix.org?priority=41 https://numtide.cachix.org?priority=42 https://cache.nixos.org/
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= numtide.cachix.org-1:2ps1kLBUWjxIneOy1Ik6cQjb41X0iXVXeHigGmycPPE=
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: ryanccn/attic-action@v0
        with:
          endpoint: "https://shynet-nix-attic.shymega.org.uk/system"
          cache: "system"
          token: '${{ secrets.GH_ATTIC_TOKEN }}'
      - name: Build ${{ matrix.hostName }}
        run: nix run nixpkgs#nixos-rebuild -- build --accept-flake-config --flake ".#${{ matrix.hostName }}"
